<app-account-toolbar></app-account-toolbar>
<div class="container">
  <div class="principal">
    <h1>Digite a nova senha</h1>
    <form [formGroup]="confirmationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input
          matInput
          type="password"
          id="password"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Repita a Senha</mat-label>
        <input
          matInput
          type="password"
          id="passwordConfirmation"
          name="passwordConfirmation"
          formControlName="passwordConfirmation"
          required
        />
      </mat-form-field>
      <div class="alert">{{ error }}</div>
      <button mat-button type="submit" [disabled]="!confirmationForm.valid">
        Entrar
      </button>
    </form>
  </div>
</div>
